.main-header {
  position: fixed;
  width: 100%;
  z-index: 9;
  .top-deader {
    background-color: #0f3235;
    @include sm {
      display: none;
    }
    .head-loaction {
      ul {
        li {
          margin-right: 30px;
          padding-bottom: 5px;
          &:nth-last-child(1) {
            a {
              &::before {
                position: unset;
              }
            }
          }
          a {
            font-size: 14px;
            color: $white-bg;
            position: relative;

            &::before {
              position: absolute;
              width: 1px;
              height: 13px;
              background-color: $theme-color;

              content: "";
              right: -15px;
              top: 1px;
            }
            i {
              padding-right: 3px;
            }
          }
        }
      }
    }
  }
  header {
    .navbar-brand img {
      height: fit-content;
    }
    .navbar {
      .navbar-nav {
        .nav-item {
          margin-right: 20px;
          .nav-link {
            font-size: 17px;
            color: $heading-color;
            font-weight: 500;
            position: relative;
          }
        }
      }
    }
  }
  .custome-qoute {
    button {
      background-color: $theme-color;
      color: #ffff;
      border: unset;
      position: relative;
      font-size: 15px;
      padding: 6px 20px;
      z-index: 1;
      &::after {
        position: absolute;
        width: 100%;
        height: 0;
        transition: 0.5s;
        top: 0;
        left: 0;
        content: "";
        z-index: -1;
        right: 0;
        background-color: $btn-color-hover;
      }
      &:before {
        position: absolute;
        width: 100%;
        height: 0;
        transition: 0.5s;
        bottom: 0;
        left: 0;
        content: "";
        z-index: -1;
        right: 0;
        background-color: $btn-color-hover;
      }
      &:hover {
        &::after {
          height: 50%;

          color: #fff !important;
        }
        &::before {
          height: 50%;

          color: #fff !important;
        }
      }
    }
  }
}
.show {
  display: block;
}
