$heading-font: "Jost", sans-serif;
$deafult-font: "Roboto", sans-serif;
$-text-font-szie: 14px;
$heading-font-size: 35px;
$sub-heading-font-size: 20px;
$theme-color: #1685b6;
$btn-color: #003d4d;
$btn-color-hover: #003d4d;
$heading-color: #003d4d;
$link-color: #003d4d;
$sub-heading-color: #003d4d;
$text-colro: #000;
$white-bg: #fff;
